Repository evakerrigan/test-work: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --check

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint", "prettier --check"],
  "*.{js,jsx,json,css,scss,md}": ["prettier --check"]
}

feat: setup base project architecture
  .prettierrc
  README.md
  src/App.css
  src/app/App.tsx
  src/app/index.ts
  src/features/authentication/index.ts
  src/index.css
  src/main.tsx
  src/pages/ClientsPage/index.ts
  src/pages/ContractorsPage/index.ts
  src/pages/OrganizationDetailsPage/OrganizationDetailsPage.module.scss
  src/pages/OrganizationDetailsPage/OrganizationDetailsPage.tsx
  src/pages/OrganizationDetailsPage/index.ts
  src/pages/OrganizationsListPage/index.ts
  src/pages/index.ts
  src/shared/api/index.ts
  src/shared/hooks/index.ts
  src/shared/layout/AppLayout/AppLayout.module.scss
  src/shared/layout/AppLayout/AppLayout.tsx
  src/shared/layout/AppLayout/index.ts
  src/shared/layout/Sidebar/Sidebar.module.scss
  src/shared/layout/Sidebar/Sidebar.tsx
  src/shared/layout/Sidebar/index.ts
  src/shared/layout/index.ts
  src/shared/stores/index.ts
  src/shared/types/index.ts
  src/shared/ui/Button/index.ts
  src/shared/ui/Input/index.ts
  src/shared/ui/Loading/index.ts
  src/shared/ui/Modal/index.ts
  src/shared/ui/Select/index.ts
  src/shared/ui/index.ts
  src/shared/utils/index.ts
  src/styles/global.scss
  src/styles/index.scss
  src/styles/reset.scss
  src/styles/variables.scss
Due: eslint, prettier --check

chore: setup SCSS with modern @use syntax
  package-lock.json
  package.json
  src/App.css
  src/app/App.tsx
  src/index.css
  src/main.tsx
  src/styles/global.scss
  src/styles/index.scss
  src/styles/reset.scss
  src/styles/variables.scss
  src/vite-env.d.ts
  vite.config.ts
Due: eslint, prettier --check

feat: add ErrorBoundary component
  src/app/providers/ErrorBoundary/ErrorBoundary.module.scss
  src/app/providers/ErrorBoundary/ErrorBoundary.tsx
  src/app/providers/index.ts
  src/main.tsx
Due: eslint, prettier --check

feat: add SVG icon library and create React components
  package-lock.json
  package.json
  src/assets/icons/Add.svg
  src/assets/icons/Company.svg
  src/assets/icons/Contractor.svg
  src/assets/icons/Doc.svg
  src/assets/icons/Edit.svg
  src/assets/icons/LogoTree.svg
  src/assets/icons/Search.svg
  src/assets/icons/Settings.svg
  src/assets/icons/SignOut.svg
  src/assets/icons/Trash.svg
  src/assets/icons/User.svg
  src/shared/ui/Icons/CompanyIcon.tsx
  src/shared/ui/Icons/ContractorIcon.tsx
  src/shared/ui/Icons/LogoTreeIcon.tsx
  src/shared/ui/Icons/SearchIcon.tsx
  src/shared/ui/Icons/SettingsIcon.tsx
  src/shared/ui/Icons/SignOutIcon.tsx
  src/shared/ui/Icons/UserIcon.tsx
  src/shared/ui/Icons/index.ts
  src/vite-env.d.ts
  vite.config.ts
Due: eslint, prettier --check

feat: add MainMenu component with navigation buttons
  src/shared/layout/MainMenu/MainMenu.module.scss
  src/shared/layout/MainMenu/MainMenu.tsx
  src/shared/layout/MainMenu/index.ts
Due: eslint, prettier --check

feat: add routing structure
  package-lock.json
  package.json
  src/app/App.tsx
  src/app/router.tsx
Due: eslint, prettier --check

feat: add structure sidebar navigation
  src/assets/images/image1.png
  src/assets/images/image2.png
  src/assets/images/image3.png
  src/pages/ClientsPage/ClientsPage.tsx
  src/pages/ClientsPage/index.ts
  src/pages/ContractorsPage/ContractorsPage.tsx
  src/pages/ContractorsPage/index.ts
  src/pages/OrganizationDetailsPage/OrganizationDetailsPage.tsx
  src/pages/OrganizationDetailsPage/index.ts
  src/pages/OrganizationsListPage/OrganizationsListPage.tsx
  src/pages/OrganizationsListPage/index.ts
  src/pages/index.ts
  src/shared/hooks/index.ts
  src/shared/hooks/useOrganizations.ts
  src/shared/layout/AppLayout/AppLayout.module.scss
  src/shared/layout/AppLayout/AppLayout.tsx
  src/shared/layout/AppLayout/index.ts
  src/shared/layout/Sidebar/Sidebar.module.scss
  src/shared/layout/Sidebar/Sidebar.tsx
  src/shared/layout/Sidebar/index.ts
  src/shared/layout/index.ts
  src/shared/types/index.ts
  src/shared/ui/index.ts
  src/styles/variables.scss
Due: eslint, prettier --check

docs: add info about process
  README.md
Due: prettier --check

feat: add component Button
  src/shared/ui/Button/Button.module.scss
  src/shared/ui/Button/Button.tsx
  src/shared/ui/Button/index.ts
Due: eslint, prettier --check

feat: add fonts
  index.html
Due: none

feat: add navigation( setting, search. sign-in, not-found)
  src/app/router.tsx
Due: eslint, prettier --check

style: update style at ErrorBoundary
  src/app/providers/ErrorBoundary/ErrorBoundary.module.scss
Due: prettier --check

chore: rename icon and update import
  src/assets/icons/LogoTree.svg
  src/assets/icons/Organization.svg
  src/shared/ui/Icons/CompanyIcon.tsx
  src/shared/ui/Icons/OrganizationIcon.tsx
Due: eslint, prettier --check

feat: add SearchPage
  src/pages/SearchPage/SearchPage.tsx
  src/pages/SearchPage/index.ts
  src/pages/index.ts
Due: eslint, prettier --check

feat: add NotFoundPage
  src/pages/NotFoundPage/NotFoundPage.module.scss
  src/pages/NotFoundPage/NotFoundPage.tsx
  src/pages/NotFoundPage/index.ts
Due: eslint, prettier --check

style: add font
  index.html
Due: none

feat: update MainMenu for navigation
  src/shared/layout/MainMenu/MainMenu.module.scss
  src/shared/layout/MainMenu/MainMenu.tsx
Due: eslint, prettier --check

chore: refactor imports
  src/shared/ui/Icons/index.ts
  src/shared/ui/index.ts
Due: eslint, prettier --check

feat: add SignInPage
  src/pages/SignInPage/SignInPage.module.scss
  src/pages/SignInPage/SignInPage.tsx
  src/pages/SignInPage/index.ts
Due: eslint, prettier --check

feat: add SettingsPage
  src/pages/SettingsPage/SettingsPage.module.scss
  src/pages/SettingsPage/SettingsPage.tsx
  src/pages/SettingsPage/index.ts
Due: eslint, prettier --check

feat: add navigation at Sidebar
  src/shared/layout/Sidebar/Sidebar.module.scss
  src/shared/layout/Sidebar/Sidebar.tsx
Due: eslint, prettier --check

docs: add info to Readme
  README.md
Due: prettier --check

style: update SearchPage style and variables
  src/pages/SearchPage/SearchPage.module.scss
  src/styles/variables.scss
Due: prettier --check

feat: add component Input
  src/shared/ui/Input/Input.module.scss
  src/shared/ui/Input/Input.tsx
  src/shared/ui/Input/index.ts
  src/styles/variables.scss
Due: eslint, prettier --check

refactor: update tag input to component Input
  src/pages/SignInPage/SignInPage.module.scss
  src/pages/SignInPage/SignInPage.tsx
  src/shared/ui/index.ts
Due: eslint, prettier --check

style: refactor style Input
  src/shared/ui/Input/Input.module.scss
Due: prettier --check

style: refactor styie SignInPage
  src/pages/SignInPage/SignInPage.module.scss
  src/pages/SignInPage/SignInPage.tsx
Due: eslint, prettier --check

refactor: update tag button to component Button at NotFoundPage
  src/pages/NotFoundPage/NotFoundPage.module.scss
  src/pages/NotFoundPage/NotFoundPage.tsx
Due: eslint, prettier --check

feat: create Select component
  src/shared/ui/Select/Select.module.scss
  src/shared/ui/Select/Select.tsx
  src/shared/ui/Select/index.ts
  src/shared/ui/index.ts
  src/styles/variables.scss
Due: eslint, prettier --check

style: update style at SettingsPage
  src/pages/SettingsPage/SettingsPage.module.scss
  src/pages/SettingsPage/SettingsPage.tsx
Due: eslint, prettier --check

style: refactor style NotFoundPage
  src/pages/NotFoundPage/NotFoundPage.module.scss
Due: prettier --check

style: update style SearchPage
  src/pages/SearchPage/SearchPage.module.scss
  src/pages/SearchPage/SearchPage.tsx
Due: eslint, prettier --check

style: refactor style Button
  src/shared/ui/Button/Button.module.scss
Due: prettier --check

refactor: create 3 components for OrganizationDetailPage
  src/pages/OrganizationDetailsPage/OrganizationDetailsPage.module.scss
  src/pages/OrganizationDetailsPage/OrganizationDetailsPage.tsx
  src/pages/OrganizationDetailsPage/components/Company/Company.module.scss
  src/pages/OrganizationDetailsPage/components/Company/Company.tsx
  src/pages/OrganizationDetailsPage/components/Company/index.ts
  src/pages/OrganizationDetailsPage/components/Contacts/Contacts.module.scss
  src/pages/OrganizationDetailsPage/components/Contacts/Contacts.tsx
  src/pages/OrganizationDetailsPage/components/Contacts/index.ts
  src/pages/OrganizationDetailsPage/components/Photos/Photos.module.scss
  src/pages/OrganizationDetailsPage/components/Photos/Photos.tsx
  src/pages/OrganizationDetailsPage/components/Photos/index.ts
  src/pages/OrganizationDetailsPage/components/index.ts
  src/shared/layout/AppLayout/AppLayout.module.scss
Due: eslint, prettier --check

docs: add info to Readme about process
  README.md
Due: prettier --check

feat: add authorization and api for authorization
  src/app/router.tsx
  src/features/authentication/api/index.ts
  src/features/authentication/index.ts
  src/features/authentication/stores/auth.store.ts
  src/pages/SignInPage/SignInPage.tsx
  src/shared/api/index.ts
  src/shared/layout/MainMenu/MainMenu.tsx
Due: eslint, prettier --check

feat: add mode edit to components Company, Contacts, Photos and title page
  src/features/companies/api/index.ts
  src/features/companies/index.ts
  src/features/companies/stores/company.store.ts
  src/features/contacts/api/index.ts
  src/features/contacts/index.ts
  src/features/contacts/stores/contact.store.ts
  src/pages/OrganizationDetailsPage/OrganizationDetailsPage.tsx
  src/pages/OrganizationDetailsPage/components/Company/Company.module.scss
  src/pages/OrganizationDetailsPage/components/Company/Company.tsx
  src/pages/OrganizationDetailsPage/components/Contacts/Contacts.tsx
  src/pages/OrganizationDetailsPage/components/Photos/Photos.tsx
  src/pages/SignInPage/SignInPage.tsx
  src/shared/types/index.ts
  src/shared/ui/Modal/Modal.module.scss
  src/shared/ui/Modal/Modal.tsx
  src/shared/ui/Modal/index.ts
  src/shared/utils/index.ts
Due: eslint, prettier --check

refactor: component Select multi mode
  src/shared/ui/Select/Select.module.scss
  src/shared/ui/Select/Select.tsx
Due: eslint, prettier --check

style: update design OrganizationsListPage
  src/pages/OrganizationsListPage/OrganizationsListPage.module.scss
  src/pages/OrganizationsListPage/OrganizationsListPage.tsx
Due: eslint, prettier --check

fix: add vercel.json for deploy to vercel
  src/shared/hooks/useOrganizations.ts
  vercel.json
Due: eslint, prettier --check
